<%- include ("../partials/header") %>


<% if(user.isTeacher === true) { %>
    <% if(students.length === 0) {%>
        <h1 class="ui huge header"><%= user.firstName%>'s Teacher Dashboard</h1>
        <h2 class="ui big header">Here are your students:</h2>
        <p>No one is registered! <a href="/users/<%= user._id %>/findStudents">Let's find our students.</a></p>
    <% } else { %>
        <h1 class="ui huge header"><%= user.firstName%>'s Teacher Dashboard</h1>

        <div class="ui relaxed divided list">
            <% students.forEach(function(student){ %>
                <div class="item">
                    <div class="content">
                        <%= student.firstName %> <%= student.lastName %> 
                        <ul>
                            
                            <li>
                                <a  class="ui secondary mini basic button" 
                                    id="assignments" 
                                    href="/student/<%= student._id%>">
                                        <%= student.firstName %>'s Assignments
                                    </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <% }) %>
        </div>
        <p><a href="/users/<%= user._id %>/findStudents">Let's find more students.</a></p>
    <% } %>
<% } else if(user.isTeacher === false) {%>
    <h1 class="ui huge header"><%= user.firstName%>'s Dashboard</h1>
    <h2 class="ui big header">Here are your students:</h2>
    <% if(students.length === 0) {%>
        <p>Oops! Looks like you haven't registered a student. <a href="/users/<%= user._id %>/createStudent">You can do that here.</a> </p>
    <% } else { %>
        <div class="ui relaxed divided list">
            <% students.forEach(function(student){ %>
                <div class="item">
                    <div class="content">
                        <%= student.firstName %> <%= student.lastName %> 
                        <ul>
                            
                            <li>
                                <a  class="ui secondary mini basic button" 
                                    id="assignments" 
                                    href="/student/<%= student._id%>">
                                        <%= student.firstName %>'s Assignments
                                </a>
                                <form action="/student/<%= student._id %>?_method=DELETE" method="POST">
                                    <button class="ui negative mini basic button" id="assignments">
                                        Remove Student
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <% }) %>
            <p><a href="/users/<%= user._id %>/createStudent">Add a new student.</a></p>
        </div>
    <% } %>
    <%}%>
</div>
</div>


<%- include ("../partials/footer") %>
